body, html {
  margin: 0;
}
.gallery {
  font-size: 0;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: #766;
}
.gallery-item {
  box-sizing: border-box;
  display: inline-block;
  width: 30.33%;
  padding: 1.5%;
  margin: 1.5%;
  background: #fff;
  border: 1px solid #dedede;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  opacity: 0.3;
  text-align: center;
  transition: box-shadow 0.3s;
}
.gallery-item:nth-of-type(-n+6) {
  opacity:1;
}
.gallery-item:hover {
  box-shadow: 0 5px 8px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s;
}
.gallery-item img {
  width: 100%;
  height: auto;
}
